{% load static  %}
<div class="offcanvas_menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="fa fa-times"></i></a>
                        </div>
                        <div class="offcanvas-brand text-center mb-40">
                            <img src="{% static 'images/main-logo.png' %}" alt="">
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children active">
                                    <a href="#introduction">소개</a>
                                </li>
                                <li class="menu-item-has-children active">
                                    <a href="#educate">교육 분야</a>
                                </li>
                                <li class="menu-item-has-children active">
                                    <a href="#volunteer">봉사자</a>
                                </li>
                                <li class="menu-item-has-children active">
                                    <a href="#history">활동</a>
                                </li>
                                <li class="menu-item-has-children active">
                                    <a href="#request">신청</a>
                                </li>
                                <li class="menu-item-has-children active">
                                    <a href="#support">후원</a>
                                </li>
                            </ul>
                        </div>
                        <div class="offcanvas-social">
                            <ul class="text-center">
                                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                                <li><a href=""><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer-widget-info">
                            <ul>
                                <li><i class="fal fa-envelope"></i> yonggill@day-by-day.kr</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>